.footer{
	display: flex;	
	flex-wrap: wrap;	
	justify-content: space-around;	
	align-items: flex-start;
	color: #FFF;
	margin-top: 290px;
}
.footer_logo{
	font-size: 14px;
	text-align: center;
	footer{
		margin-top: 10px;
	}
}
.footer_lins{
	display: flex;	
	flex-wrap: wrap;	
	align-items: flex-start;
	border-left:1px solid #bdbdbd;
	margin-bottom: 40px;
	justify-content: space-around;
}
.footer_links_list{
	list-style-type: none;	
	margin: 0 40px;
	padding: 0;	
}
.head_item{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	color: #bdbdbd;
}
.footer_links_list_item{
	padding: 20px 0px;
	a{
		text-decoration: none;
		color: #fff;
	}
	&:last-child{
		padding: 20px 0 0;
	}
}

.pop-up{
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: none;
	z-index: 3;
}
.close-btn{
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 60px;
	color: #fff;
	cursor: pointer;
}
#video{
	width: 100vw; 
	height: 100vh;
}