.videoinstruction{
	text-align: center;
	color: #fff;
}
.videoinstruction_title{
	font-size: 24px;
	font-weight: 700;
	margin-top: 120px;
	margin-bottom: 50px;

}
.videoinstruction_list{
	list-style-type: none;
	padding: 0;
	display: flex;	
	flex-wrap: wrap;	
	align-items: center;	
	justify-content: space-around;	
	padding: 40px 0px;
	margin: 0;
	.videoinstruction_item{
		margin: 40px;	
	}
}